html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  margin: 0;
  background-color: #38383D;
}

a, h1, h2, h3, h4, h5, p, span, button, label, div {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

button {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

header {
  margin-bottom: 1rem;
}

.search_container {
  position: relative;
  padding: 2rem 0 2rem 0;
  display: flex;
  align-items: center;
}

.search_container > .search__icon {
  position: absolute;
  z-index: 2;
  left: 10px;
  pointer-events: none;
}

.search_container > .search__input{
  position: absolute;
  height: 2rem;
  left: 0;
  padding-left: 30px;
}

.hidden {
  display: none !important;
}

.editButton {
  cursor: pointer;
}

.item_controlPanel{
  display: flex;
  flex-direction: column;
}

.wrapper{
  width: 75vw;
  margin: 0 auto;
}

.data__table > .table__header {
  display: flex;
  justify-content: space-around;

}

.data__table > .table__header > div {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid white;
  border-right: 0;
  box-sizing: border-box;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data__table > .table__header > div:last-of-type {
  border-right: 1px solid white;
}

.table__item {
  display: flex;
  justify-content: space-around;
}

.table__item > div {
  width: 100%;
  border: 1px solid white;
  border-top: none;
  border-right: none;
  box-sizing: border-box;
  overflow-wrap: anywhere;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table__item > div:last-of-type {
  border-right: 1px solid white;
}

.table__item > div > p {
  text-align: center;
}

.addForm {

}

/* Edit page */
.editForm {
  display: flex;
  width: 35%;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.btnDeleteEquipment{
  cursor: pointer;
}

.btnDeleteEmployee{
  cursor: pointer;
}

/* Create reservation */
.event-item input {
  margin-right: 5px;
}



/* Top nav css */
.topnav {
  background-color: #1e1e1e;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
}



.topnav a:hover:after  {
  background-color: #ffffff;
  -webkit-animation: flicker2 1s linear infinite;
  animation: flicker 1s linear infinite;
  opacity: 1;
  width: 90%;
}

@keyframes flicker {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.topnav a:after {
  content: "";
  display: block;
  background-color: #fff;
  border-radius: 2px;
  height: 3px;
  width: 0;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all .4s ease;
  box-shadow: 0 0 20px 2px #ffffff, 0 0 20px 2px #ffffff, 0 0 20px 2px #ffffff, 0 0 20px 2px #ffffff, 0 0 10px #ffffff, 0 0 4px #ffffff, 0 0 2px #ffffff;
}

.topnav .yellowFlicker:after {
  box-shadow: 0 0 20px 2px #ffc724, 0 0 20px 2px #ffc724, 0 0 20px 2px #ffc724, 0 0 20px 2px #ffc724, 0 0 10px #ffc724, 0 0 4px #ffc724, 0 0 2px #ffc724;
}

.topnav .whiteFlicker:after {
  box-shadow: 0 0 20px 2px #ffffff, 0 0 20px 2px #ffffff, 0 0 20px 2px #ffffff, 0 0 20px 2px #ffffff, 0 0 10px #ffffff, 0 0 4px #ffffff, 0 0 2px #ffffff;
}

.topnav .greenFlicker:after {
  box-shadow: 0 0 20px 2px #3fc34d, 0 0 20px 2px #3fc34d, 0 0 20px 2px #3fc34d, 0 0 20px 2px #3fc34d, 0 0 10px #3fc34d, 0 0 4px #3fc34d, 0 0 2px #3fc34d;
}

.topnav .redFlicker:after {
  box-shadow: 0 0 20px 2px #ef0000, 0 0 20px 2px #ef0000, 0 0 20px 2px #ef0000, 0 0 20px 2px #ef0000, 0 0 10px #ef0000, 0 0 4px #ef0000, 0 0 2px #ef0000;
}

.topnav .cyanFlicker:after {
  box-shadow: 0 0 20px 2px #1ec3f5, 0 0 20px 2px #1ec3f5, 0 0 20px 2px #1ec3f5, 0 0 20px 2px #1ec3f5, 0 0 10px #1ec3f5, 0 0 4px #1ec3f5, 0 0 2px #1ec3f5;
}

.topnav .purpleFlicker:after {
  box-shadow: 0 0 20px 2px #5517c1, 0 0 20px 2px #5517c1, 0 0 20px 2px #5517c1, 0 0 20px 2px #5517c1, 0 0 10px #5517c1, 0 0 4px #5517c1, 0 0 2px #5517c1;
}

.topnav .orangeFlicker:after {
  box-shadow: 0 0 20px 2px #df6655, 0 0 20px 2px #df6655, 0 0 20px 2px #df6655, 0 0 20px 2px #df6655, 0 0 10px #df6655, 0 0 4px #df6655, 0 0 2px #df6655;
}







.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Cards - fronpage */
.card-img-top {
  height: 190px;
  object-fit: cover;
}
